<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.onsign.rc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-feature android:mName="android.hardware.usb.host" />

    <application
        android:icon="@drawable/icon"
        android:label="Serial Device Support"
        android:theme="@style/Theme.Transparent" >

        <activity
            android:mName=".activities.AttachActivity"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:mName="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
				android:mName="android.hardware.usb.action.USB_DEVICE_ATTACHED"
				android:resource="@xml/device_filter" />
        </activity>

        <service
            android:mName=".services.SerialService"
            android:exported="true" >
        </service>
        </application>
</manifest>
